.quote {
    background: #315a78;
    color: #fff;
    text-align: justify;
    padding: 10px;
    font: 20px sans-serif;
    border-radius: 10px;

}
.quoteTitle{
    text-align: center;
    color: #315a78;
    font: bolder 30px cursive;
}
.quoteBox{
    box-sizing: border-box;
}