.quote {
    /* width: 500px;
    background-color:#315a78; 
    color: rgba(255, 255, 255, 0.918);
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font: 20px sans-serif; */
    background: #315a78;
    color: #fff;
    text-align: justify;
    padding: 10px;
    font: 20px sans-serif;
    border-radius: 10px;

}
.quoteTitle{
    text-align: center;
    color: #315a78;
    font: bolder 30px sans-serif;
}
.quoteBox{
    box-sizing: border-box;
}