.remove {
    padding: 10px;
    background: red;
    cursor: pointer;
}
.complete {
    padding: 10px;
    background: green;
    color: white;
    cursor: pointer;
}
.todoBox {
    word-break: break-all;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid dimgray;
}