 .profilePic{
  text-align: center; 
  display: block;
  cursor: pointer;  
}

.profilePic img{
  object-fit: cover;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal {
  text-align: center; 
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.uploadInputs {
  background-color: #315a78;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 1%;
  box-shadow: 1px 1px 10px black;
}

.header {
  background: white;
  color: navy;
}

.close {
  color: red;
  float: right;
  cursor: pointer;
}

.close:hover {
  color: red;
};

.buttonsWrap {
  display: flex;
  justify-content: space-between;
}

.chooseFile {
  position: relative;
  left: 9px;
}


@media screen and (max-width: 640px){
  .chooseFile {
    position: relative;
    left: 76px;
  }
 }
