 .profilePic{
  text-align: center; 
  display: block;  
  
 }
 .profilePic img{
  object-fit: cover;
 }

.uploadInputs{
  text-align: center; 
  display: block; 
}


@media screen and (max-width: 640px){
  .chooseFile{
    position: relative;
    left: 70px;
  }
 }
