body {
    margin: 0;
    padding: 0; }
  
  .slide-container {
    width: 70%;
    margin: auto;   
}
  
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;
  }
  
  .each-slide span {
    color: honeydew;
    padding: 20px;
    font-size: 25px;
    font-family: 'Architects Daughter', cursive;
    background: #143361a8;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    height: auto;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
