
.carousalTitle{
    background-color: rgba(17, 37, 81, 0.32);
    color: white;
    position: relative;
    top:-120px;
    font-size: 22px;
}

.subTitles{

    background-color: rgba(31, 42, 73, 0.39);
    color: white;
    position: relative;
    font-size: 30px;

}